.features-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  border-bottom: #f58a8a 2px solid; 
  border-top: #eb8181 2px solid;
}

.feature-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 22%;
  min-width: 200px;
  margin: 1rem 0;
}

.feature-icon {
  margin-bottom: 1rem;
  color: #ff5252; /* Adjust color to match your design */
}

.feature-text h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.feature-text p {
  font-size: 1rem;
  color: #666;
}
.excellent{
 display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  padding: 2rem;
}

.button-review{
 display: flex;
 flex-direction: row;
 gap:4px;
 font-size: 1.5rem;
  padding: 45px;
  border-right: 4px solid #ff5252;
  border-radius: 0px;
  cursor: pointer;
  text-decoration: none;
  color: #ff5252;
}
.button-excellent{
 /* Adjust color to match your design */
 font-size: medium;
 font-family: 'Times New Roman', Times, serif;
  padding: 45px;
  border-right: 4px solid #ff5252;
  border-radius: 0px;
  cursor: pointer;
  text-decoration: none;
}
.button-excellent h3{
  font-size: 1.5rem;
  color: #ff5252;
  font-weight: bold;
}
.button-excellent p{
  font-size: 1.5rem;
  color: #454545;
  font-weight: medium;
}
.button-email{
 /* Adjust color to match your design */
 
  padding: 45px;
font-size: 1.5rem;
  color: #ff5252;
font-family: 'Times New Roman', Times, serif;
  border-radius: 0px;
  cursor: pointer;
  text-decoration: none;
}
/* Responsive adjustments */
@media (max-width: 900px) {
  .features-container {
    justify-content: center;
  }
  .feature-box {
    width: 45%;
  }
}

@media (max-width: 500px) {
  .feature-box {
    width: 100%;
  }
}
.why-bloomingdelights{
  display: flex;
  flex-direction: column;
  align-items: left;
width:80%;
  padding: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: #ebb3b3;
  margin: 32px;

}
.iamthinking{
  display: flex;
  
  align-items: left;
  
  width: 100%;
  height: 100%;
  padding: 2rem;
  font-size: 1.5rem;
}