.Cancel-save-buttons{
    display:flex;
    flex-direction: row;
    align-items:center ;
    padding: 20px;
    gap:72px;
}
.invoice-div{
    display: flex;
  
    align-items: center;
    flex-direction: column;
  
   padding: 20px;
}
.cancel{
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.save{
    background-color: #4c77af;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
p{
    color: #888;
    font-size: 14px;
    margin-top: 10px;
}