.register-and-login {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 32px; 
  width: 1024px;
  margin: 0 auto;
  padding: 20px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  color: #101010;
  border: 1px solid #ddd;
  border-radius: 24px;
  padding: 2rem;
  background-color: rgb(248, 243, 248);
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formGroup label {
  color: #333232;
  font-weight: 600;
}

.formGroup input {
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 24px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.formGroup input:focus {
  border-color: #ff5252;
  outline: none;
}

.formOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rememberMe {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.rememberMe label {
  color: #666;
  font-size: 0.9rem;
}

.forgotPassword {
  color: #ff5252;
  text-decoration: none;
  font-size: 0.9rem;
}

.forgotPassword:hover {
  text-decoration: underline;
}

.loginButton {
  background-color: #ff5252;
  color: white;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.loginButton:hover {
  background-color: #ff5252;
}

.registerLink {
  text-align: center;
  margin-top: 1rem;
  color: #666;
}

.registerLink a {
  color: #ff5252;
  text-decoration: none;
  font-weight: 500;
}

.registerLink a:hover {
  text-decoration: underline;
}
.register-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  background-color: rgb(248, 243, 248);
  border: 1px solid #ddd;
  border-radius: 24px;
  padding: 2rem;
}
.register-form h1 {
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
}
.loginForm h1 {
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
}
.Email {
  font: 600 16px serif;
  color: #101010;
}
.registerForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 24px;
}
.radio-buttons {
  display: flex;
  gap: 0.5rem;
}
