.delivery-info-container {
  display: flex;
 grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
 padding:20px;
 gap:32px;
 
}
.delivery-info-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap:20px;
    border: 1px solid #CCC;
    border-radius: 4px;
  width:auto;
  margin-top: 32px;
    padding: 20px;

}

input{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    border:1px solid #ddd;
    border-radius: 4px;
    height:42px;
   
}
.delivery-btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:32px;
}
.save-btn {
    display: flex;
    
    width:106px;

    background-color: #e83e8c;
    color: white;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}
.delivery-btns .office-btn{
    display: flex;
    
    width:106px;

    background-color: white;
    color: #333333;
    padding: 10px 20px;
    border: 1px solid #25A5d8;
    border-radius: 4px;
    cursor: pointer;
}
.delivery-btns .home-btn {
    display: flex;
    
    width:106px;

    background-color: white;
    color: #333333;
    padding: 10px 20px;
    border: 1px solid #d3a5d6;
    border-radius: 4px;
    cursor: pointer;
}
.delivery-info-heading{
    font-size: 18px;
    color:#212121;
    font-weight: 600;
    width:786px;
}
.delivery-grid-promotion{
display:flex;
flex-direction: column;

width:392px;
border: 1px solid #ddd;
border-radius: 4px;
padding: 20px;
}
.promotion-code{
display: flex;
flex-direction: row;
gap:10px;
}
.promotion-code input{
    width: 246px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 42px;
    padding: 0 10px;
}
.apply-btns{
    background-color:#25A5d8 ;
    color:white;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width:104px;
    height: 42px;
}
.invoice-contact{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
a{
    color:#25A5d8;
    text-decoration: none;
}
.order-summary{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#p{
    color:#ccc;
}
.proceed-to-pay{
    background-color: #ccc;
    color:white;
    width:360px;
    height:42px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.delivery-promotion-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.delivery-grid-promotion #form div{
    display: flex;
    flex-direction: column;
    gap: 14px
}
.order-summary .order-summary-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.order-summary-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}