.second_component {
  background-color: blanchedalmond;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  justify-content: center;
  align-items: center;
  margin: 32px;
}

.grid-item {
  text-align: center;
  background-color: none;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  height: 400px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
img {
  width: 300px;
  height: 200px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 42px;
}
.img-btn-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.img-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  background-color:#FAA4BD;

  width: 60px;
  border-radius: 24px;
  margin-bottom: 16px;
}
.img-btn .img-btn-sale{
  color:white;
}
.img-btn a {
  color: rgba(255, 166, 0, 0.655);
}
.bouquet-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4px;
}
.add-to-cart {
  border: 1px solid #ccc;
  background-color: chocolate;
  color: white;
  border-radius: 4px;

 text-align: center;
  width:126px;
  height:32px;
  font-family: "Times New Roman", Times, serif;
}
